<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - AppHarbor Test</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/css")" rel="stylesheet" type="text/css" />
        <link href="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Content/themes/base/css")" rel="stylesheet" type="text/css" />
        <script src="@System.Web.Optimization.BundleTable.Bundles.ResolveBundleUrl("~/Scripts/js")"></script>
        <meta name="viewport" content="width=device-width" />

        <style type="text/css">
        #header {
            background-image: url(/Images/fuzzy-llama.jpg);
            height: 240px;
            margin-bottom: 10px;
        }
        #headerTitle {
            margin-top: 50px;
            margin-left: 200px;
        }
    </style>

    </head>
    <body>

        <header>
            <div id="header" class="content-wrapper">
                <div id="headerTitle" class="float-left">
                    <p class="site-title">@Html.ActionLink("Fuzzy Llama - Testing AppHarbor", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Affaire Conclue</p>
                </div>
                <div class="float-right">
                    <ul id="social">
                        <li><a href="http://www.affaireconclue.net" class="affaireconclue" title="Go to our Corp Web Site AffaireConclue.net">Corp Web Site</a></li>
                        <li><a href="https://www.facebook.com/pages/Affaire-Conclue/309795422430278" class="facebook" title="Go to our Facebook page">Facebook</a></li>
                        <li><a href="https://twitter.com/Affaire_Conclue" class="twitter" title="Go to our Twitter page">Twitter</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>
